<h1>My Products</h1>
<!--  Example Two Way Binding. Requires ngFormsModule -->
<input type="text" [(ngModel)]="productName">
 <!--  Example Event Binding -->                 <!--  Example Property Binding -->
<button *ngIf ="!isDisabled" (click) = "productName='A clicked Tree'" [disabled]="isDisabled">Change Name</button>
<!--  String Interpolation -->
<div>{{productName}}</div>

<!-- Add a product -->
<button (click)= "addProducts()">Add</button>

<!-- Example Structural Directives  *ngIf and *ngFor -->
<ul>
  <li *ngFor = "let prod of products">{{prod}}</li>
</ul>
